@import "../../styles/var";


.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: $primary-background;
	color: $primary-color;
	overflow: hidden;
}

.main {
	flex-grow: 1;
	overflow-y: auto;
}